
body {
    border: 10px solid blue; 
}
.background {
    background-image: url("/static/davis-hall.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    width: 300px; 
}

h2 {
    color: white;
    font-size: 24px; 
}

label {
    color: white;
    font-size: 18px; 
}


input[type="text"],
input[type="password"] {
    color: black;
    font-size: 16px;
}


