<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post webpage</title>
    <link rel="stylesheet" href="../static/css/poststyle.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">Engineering</div>
            <button class="add-post-button">Submit</button>
        </div>
        <div class="content" id="posts-container">
            <!-- Posts will be dynamically added here -->
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>