<html lang="en">
<head>
    <title>UBshare</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Welcome to UBSHARE</h1>
    </header>

    <section class="login-register">
        <h2>Login / Register</h2>
        <form action="#" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            <a href="#">Register</a>
        </form>
    </section>


</div>
</body>
</html>